<h1> URL shortener </h1>

<%= form_with model: @url do |form| %>
  <%= form.label :full_url, "URL: " %>
  <%= form.text_field :full_url %>
  <%= form.hidden_field :url_string,  value: @url_string %>
  <%= form.submit %>
  
<% end %>

<% @urls.each do |url|%>
<br>
  <%= url.full_url %> <br> <br>
  <%= url.url_string %> <br> <br>
  <%= @short_link%>
<% end %>
